<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-info" data-th-href="${'/home'}" >
        Back To Home
      </a >
    </div >
    <div class="col" >
      <h2 class="text-center" >
        <strong >
          <span data-th-text="${addStatus==true?'Update Location Details':'New Location Details'}" ></span >
        </strong >
      </h2 >
    </div >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/locationInteract'}" >
        Location List </a >
    </div >
  </div >
</div >

<div class="container-fluid text-center" >
  <div class="col" >
    <form data-th-action="${addStatus==false?'/locationInteract/save' :'/locationInteract/update'}"
          method="post" data-th-object="${locationInteract}" >
      <input class="form-control col-md-9" id="id" readonly data-th-field="*{id}"
             type="text" data-th-if="${addStatus==true}" />

      <!--Grama Niladhari Division-->
      <div class=" form-row p-3" >
        <label class="col-md-3 form-label" data-th-for="${'gramaniladhari'}" >Grama Niladhari Division </label >
        <select class="col-md-9 form-control"                 data-th-field="*{gramaniladhari}" required >
          <option value="" selected disabled>Please Select</option >
          <option data-th-each="gramaniladhari : ${gramaniladharis}"
                  data-th-text="${gramaniladhari.name+' '+ gramaniladhari.number}"
                  data-th-value="${gramaniladhari.id}"
          ></option >
        </select >
      </div >
      <!--name-->
      <div class="form-row p-3" >
        <label class="control-label col-md-3" data-th-for="${'name'}" >Location Name</label >
        <input class="form-control col-md-9 "               required              data-th-field="*{name}"               type="text" />
        <span class="error"               data-th-errors="*{name}"              data-th-if="${#fields.hasErrors('name')}" ></span >
      </div >
      <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
        <!--Back Button-->
        <a class="btn btn-dark" tabindex="10" data-th-href="${'/district'}" >
          <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
        </a >
        <!--Save Button-->
        <button class="btn btn-success ml-md-5" type="submit" tabindex="8" >
          <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;
          <span data-th-text="${addStatus==false?'Save': 'Update'}" id="submit" ></span >
        </button >
        <!--Cancel Button-->
        <button class="btn btn-warning ml-md-5" type="reset" tabindex="9" >
          <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
        </button >
      </div >
      <div class="form-row" >
        <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}"
               data-th-text="'Errors: '" >Errors: </label >
        <ul >
          <li id="error" data-th-each="err : ${#fields.errors('*')}" data-th-text="${err}"
              class="error" ></li >
        </ul >
      </div >
    </form >
  </div >
</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $(document).ready(function () {
        $("#gramaNiladhari").select2({
            data: $(this).val()
        }).addClass("form-control");
    });
</script >
</body >
</html >