<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container-fluid" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-info" data-th-href="${'/home'}" >
        Back To Home
      </a >
    </div >
    <div class="col" >
      <span class="font-weight-bold h2" data-th-text="${locationInteractDetail.name}" ></span >
    </div >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/locationInteract'}" >
        Location Interact List </a >
    </div >
  </div >
</div >
<div class="container-fluid text-center" >
  <div class="container-fluid" data-th-fragment="locationInteractDetail" >
    <!--Province-->
    <div class=" form-row  p-3" >
      <label class="form-label  col-md-3" > Province </label >
      <p class="display_detail"
         data-th-text="${locationInteractDetail.gramaNiladhari.dsOffice.district.province.province}" ></p >
    </div >
    <!--District-->
    <div class=" form-row p-3" >
      <label class="form-label col-md-3 " >
        District </label >
      <p class="display_detail"
         data-th-text="${locationInteractDetail.gramaNiladhari.dsOffice.district.name}" ></p >
    </div >
    <!--ds Office-->
    <div class=" form-row p-3" >
      <label class="form-label col-md-3 " > Divisional Secretory Office </label >
      <p class="display_detail"
         data-th-text="${locationInteractDetail.gramaNiladhari.dsOffice.name}" ></p >
    </div >
    <!--GramaNiladhariDivision-->
    <div class=" form-row p-3" >
      <label class="col-md-3 form-label" > Gramaniladhari Division Name </label >
      <p class="display_detail"
         data-th-text="${locationInteractDetail.gramaNiladhari.name}" ></p >
    </div >
    <!--Location Name-->
    <div class="form-row p-3" >
      <label class="control-label col-md-3" >Location Name </label >
      <p class="display_detail"
         data-th-text="${locationInteractDetail.name}" ></p >
    </div >
  </div >
  <!--  todo need to show patient count and date time within last 10 days-->
  <!--Button-->
  <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
    <!--Back Button-->
    <a class="btn btn-dark" data-th-href="${'/locationInteract'}" tabindex="10" >
      <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
    </a >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >