<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid" >
  <div class="row text-center " >
    <div class="col" >
      <a class="btn btn-primary" data-th-href="${'/home'}" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
    <div class="col" >
      <h4 class="  text-dark text-center" >
        <strong >
          <span data-th-text="${patientDetail.name}" ></span >
        </strong >
      </h4 >
    </div >
    <div class="col" >
      <a class="btn btn-primary" data-th-href="${'/patient'}" >
        <i class="fa fa-list" ></i >&nbsp; View List
      </a >
    </div >
  </div >
</div >
<!--Form Content - start -->
<div class="container-fluid" >
  <div class="form-row" >
    <!--Left Side-->
    <div class="col-md-6 col-sm-6 " >
      <!--code-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="code" >Code:</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.code}" id="code" ></p >
        </div >
      </div >
      <!--Nic-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="nic" >NIC No :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.nic}" id="nic" ></p >
        </div >
      </div >
      <!--Name-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="name" >Name :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.name}" id="name" ></p >
        </div >
      </div >
      <!--Gender-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="gender" >Gender :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.gender.gender}" id="gender" ></p >
        </div >
      </div >
      <!--Age-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="age" >Age :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.age}" id="age" ></p >
        </div >
      </div >
      <!--Dead-->
      <div class="form-row text-md-right text-sm-left" data-th-if="${addStatus==false}" >
        <div class="col-md-4" >
          <label class="control-label" for="liveDead" >Live Or Dead :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.deadLive.deadLive}" id="liveDead" ></p >
        </div >
      </div >
      <!--Police Station-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="policeStation" >Police Station :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.policeStation.name}" id="policeStation" ></p >
        </div >
      </div >
    </div >
    <!--Right Side-->
    <div class="col-md-6 col-sm-6 " >
      <!--Address-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="address" >Address :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-utext="${patientDetail.address}" id="address" ></p >
        </div >
      </div >
      <!--Mobile Number One-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="mobileOne" >Mobile :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.mobile}" id="mobileOne" ></p >
        </div >
      </div >
      <!--Identified Date-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="identifiedDate" >Identified Date :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.identifiedDate}" id="identifiedDate" ></p >
        </div >
      </div >
      <!--created at-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="createdAt" >Created At :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.patient.createdAt}" id="createdAt" ></p >
        </div >
      </div >
      <!--Created by-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="createdBy" >Created By :</label >
        </div >
        <div class="col-md-8" >
          <p class="form-control" data-th-text="${patientDetail.createdBy}" id="createdBy" ></p >
        </div >
      </div >
    </div >
    <!-- previous diagnosed list-->
    <div class="form-group offset-md-3 col-md-6 col-sm-12 text-center flex-column " >
      <span class="h4 text-center" >Previous Diagnosed Attempts  </span >
      <ul class="list-group" >
        <li class="list-group-item " data-th-each="attempt , index : ${patientDetail.attempts}" >
          <span class="mr-2" data-th-text="${index.count}" ></span >:
          <span data-th-text="${{attempt.identifiedDate}}" ></span >
        </li >
      </ul >
    </div >
    <!--Button-->
    <div class="form-group col-md-12 col-sm-12 text-left flex-column " >
      <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
        <a data-th-href="${'/patient'}" >
          <button class="btn btn-secondary" tabindex="10" type="button" >
            <i class="fa fa-arrow-circle-left " style="font-size: 20px" ></i >&nbsp; &nbsp;Back
          </button >
        </a >
      </div >
    </div >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
