<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-md-center" >
    <div class="col" >
      <a class="btn btn-info" data-th-href="${'/home'}" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
    <div class="col" >
            <span class="h4 font-weight-bold text-center"
                  data-th-text="${'Person Record With Virus'}" ></span >
    </div >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/person'}" >
        <i class="fa fa-list" ></i >&nbsp; View List
      </a >
    </div >
  </div >
</div >
<div class="container-fluid mt-3" >
  <div id="accordianId" role="tablist" aria-multiselectable="true" >
    <div class="card" >
      <div class="card-header" role="tab" id="section1HeaderId" >
        <h5 class="mb-0" >
          <a class="text-decoration-none" data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId"
             aria-expanded="true"
             aria-controls="section1ContentId" >
            <div class="text-center container-fluid" >
              Person Details
            </div >
          </a >
        </h5 >
      </div >
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
        <div class="card-body" >
          <div class="container-fluid" >
            <div data-th-replace="~{person/person-detail :: personDetail}" ></div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<!--Form Content - start -->
<div class="container-fluid" >
  <div class="col-md-8 offset-md-2" >
    <form data-th-action="${addStatus==true?'/person/save':'/person/update'}" data-th-object="${personDetail}"
          method="POST" >
      <input data-th-field="*{id}" data-th-if="${addStatus==false}" readonly type="hidden" />
      <!--attempt-->
      <div class="form-row" >
        <div class="container-fluid" >
          <input type="hidden" name="attempt[0].person.id" data-th-value="${personDetail.id}" >
          <div class="form-group" >
            <label for="identifiedDate" >Identified Date</label >
            <input type="date" name="attempt[0].identifiedDate" id="identifiedDate" class="form-control"
                   placeholder="" >
          </div >
          <div class="form-group" >
            <label for="remark" >Remarks</label >
            <textarea name="attempt[0].remark" id="remark" class="form-control" cols="4" ></textarea >
          </div >
        </div >
      </div >
      <!--Interact Location History-->
      <div class="form-row" >
        <div class="container-fluid" >
          <table class="table table-striped table-inverse table-responsive table-hover" >
            <caption style="caption-side:top" >
              <div class="form-row" >
                &nbsp;&nbsp;
                <h3 class="font-weight-bold " >Locations Interact With Person</h3 >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#modelId" >
                  <i class="fas fa-notes-medical" ></i >
                  New
                </button >
              </div >
            </caption >
            <thead class="thead-inverse" >
            <tr >
              <th >Index</th >
              <th >Location Name</th >
              <th >Arrival At</th >
              <th >Leave At</th >
              <th >Modify</th >
            </tr >
            </thead >
            <tbody >
            <tr >
              <td >1</td >
              <td >Sepala Store</td >
              <td >2020-02-01 11.30 AM</td >
              <td >2020-02-01 11.45 AM</td >
              <td >
                <button class="btn btn-danger" >
                  <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;
                                                                               Remove
                </button >
              </td >
            </tr >
            <tr >
              <td >2</td >
              <td >Jayashantha Store</td >
              <td >2020-02-01 11.30 AM</td >
              <td >2020-02-01 11.45 AM</td >
              <td >
                <button class="btn btn-danger" >
                  <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;
                                                                               Remove
                </button >
              </td >
            </tr >
            </tbody >
          </table >
        </div >
      </div >
      <!-- button area-->
      <div class="form-group col-md-12 col-sm-12 text-center flex-column mt-3" >
        <!--Back Button-->
        <a class="btn btn-dark" data-th-href="${'/person'}" >
          <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
        </a >
        <!--Save Button-->
        <button class="btn btn-success ml-md-5" type="submit" >
          <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;
          <span data-th-text="${'Save'}" ></span >
        </button >
        <!--Cancel Button-->
        <button class="btn btn-warning ml-md-5" type="reset" >
          <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
        </button >
      </div >
    </form >
  </div >
</div >

<!--location interaction list add  Modal -->
<div class="modal fade bd-example-modal-xl" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true" >
  <div class="modal-dialog modal-xl" role="document" >
    <div class="modal-content" >
      <div class="modal-header" >
        <h5 class="modal-title" >Gamaniladari Division Search</h5 >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true" >&times;</span >
        </button >
      </div >
      <div class="modal-body" >
        <div class="container" >
          <div class="form-row" >
            <!--Left Side-->
            <div class="col-md-6 col-sm-6 " >
              <!--Date of birth-->
              <div class="form-row text-md-right text-sm-left" >
                <div class="col-md-4" >
                  <label class="control-label" for="dateOfBirth" >Birth date :</label >
                </div >
                <div class="col-md-8" >
                  <input class="form-control" data-th-field="*{dateOfBirth}" id="dateOfBirth"
                         placeholder="Ex: 1990 - 01 - 20"
                         required
                         type="date" />
                  <span class="error" data-th-errors="*{dateOfBirth}"
                        data-th-if="${#fields.hasErrors('dateOfBirth')}"
                  >Error Birthday</span >
                </div >
              </div >
            </div >
            <!--Right Side-->
            <div class="col-md-6 col-sm-6 " >
              <!--Gramaniladhari division-->
              <div class="form-row text-md-right text-sm-left" >
                <div class="col-md-4" >
                  <label class="control-label" data-th-for="${'gramaNiladhari'}" >Gramaniladhari Division :</label >
                </div >
                <div class="col-md-8" >
                  <input type="text" id="gramaNiladhariOne"
                         data-th-value="${addStatus==false ? person.gramaNiladhari.name :''}" readonly
                         class="form-control" disabled >
                  <input list="browsers" data-th-field="*{gramaNiladhari}" class="form-control"
                         placeholder="Please enter gramaniladari division name" >
                  <datalist id="browsers" >
                  </datalist >
                  <span class="form-text text-muted bg-warring" id="gramaNiladhariMessage" ></span >
                  <input name="gramaNiladhari.id" id="gramaNiladhariId"
                         data-th-value="${addStatus==false ? person.gramaNiladhari.id :''}" hidden >
                </div >
              </div >
              <!--Address-->
              <div class="form-row text-md-right text-sm-left" >
                <div class="col-md-4" >
                  <label class="control-label" for="address" >Address :</label >
                </div >
                <div class="col-md-8" >
                            <textarea class="form-control" data-th-field="*{address}" id="address" required rows="4"
                            ></textarea >
                  <span class="error" data-th-errors="*{address}"
                        data-th-if="${#fields.hasErrors('address')}" id="addressError" >Error Address</span >
                </div >
              </div >
              <!--Mobile Number One-->
              <div class="form-row text-md-right text-sm-left" >
                <div class="col-md-4" >
                  <label class="control-label" for="mobileOne" >Mobile :</label >
                </div >
                <div class="col-md-8" >
                  <input class="form-control mobile" data-th-field="*{mobile}" id="mobileOne"
                         maxlength="10" min="9" type="text" />
                  <span class="error" data-th-errors="*{mobile}"
                        data-th-if="${#fields.hasErrors('mobile')}"
                        id="mobileOneError" >Error Mobile Number</span >
                </div >
              </div >
              <!--Created by and created at-->
              <div data-th-if="${addStatus==false}" class="form-row text-md-right text-sm-left" >
                <div class="col-md-4" >
                  <label class="control-label" for="createdAt" >Created At :</label >
                </div >
                <div class="col-md-8" >
                  <input class="form-control" data-th-value="${{person.createdAt}}" id="createdAt"
                         readonly
                         type="text" />
                </div >
              </div >
              <div data-th-if="${addStatus==false}" class="form-row text-md-right text-sm-left" >
                <div class="col-md-4" >
                  <label class="control-label" for="createdBy" >Created By :</label >
                </div >
                <div class="col-md-8" >
                  <input class="form-control" data-th-field="*{createdBy}" id="createdBy" readonly
                         type="text" />
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >
          Close
        </button >
      </div >
    </div >
  </div >
</div >

<input data-th-value="${gramaNiladhariSearchUrl}" hidden id="gramaNiladhariSearchUrl" type="text" >
<input data-th-value="${locationInteractUrl}" hidden id="locationInteractUrl" type="text" >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    <!--  todo lot of things to do-->
    $('[type="date"]').prop('max', function () {
        return new Date().toJSON();
    });
</script >
</body >
</html >

