<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/person'}" >
        <i class="far fa-user" ></i > &nbsp; Go to Person</a >
    </div >
    <div class="col" >
      <span class="font-weight-bold h2" >                    Turns according to person status  </span >
    </div >
    <div class="col" >
      <a class="btn btn-primary" data-th-href="${'/home'}" id="searchShow" tabindex="2" >
        <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >

<div class="container-fluid mt-2 mb-2" >
  <div class="row " >
    <div class="col text-center" >
      <a href="/turn" data-th-class="${personStatus==null?'disabled':''}" >
        <button type="button" class="btn btn-success ml-2" >All</button >
      </a >
      <a href="/turn/ps/GENERAL" data-th-class="${personStatus=='GENERAL'?'disabled':''}" >
        <button type="button" class="btn btn-primary ml-2" >General</button >
      </a >
      <a href="/turn/ps/SUSPECT" data-th-class="${personStatus=='SUSPECT'?'disabled':''}" >
        <button type="button" class="btn btn-secondary ml-2" >Suspect</button >
      </a >
      <a href="/turn/ps/SELF_QUARANTINE" data-th-class="${personStatus=='SELF_QUARANTINE'?'disabled':''}" >
        <button type="button" class="btn btn-success ml-2" >Self Quarantine</button >
      </a >
      <a href="/turn/ps/QUARANTINE" data-th-class="${personStatus=='QUARANTINE'?'disabled':''}" >
        <button type="button" class="btn btn-info ml-2" >Quarantine</button >
      </a >
      <a href="/turn/ps/AFTER_QUARANTINE" data-th-class="${personStatus=='AFTER_QUARANTINE'?'disabled':''}" >
        <button type="button" class="btn btn-warning ml-2" >After Quarantine</button >
      </a >
      <a href="/turn/ps/INFECTED" data-th-class="${personStatus=='INFECTED'?'disabled':''}" >
        <button type="button" class="btn btn-danger ml-2" >Infected</button >
      </a >
      <a href="/turn/ps/RECOVER" data-th-class="${personStatus=='RECOVER'?'disabled':''}" >
        <button type="button" class="btn btn-dark ml-2" >Recover</button >
      </a >
      <a href="/turn/ps/DEAD" data-th-class="${personStatus=='DEAD'?'disabled':''}" >
        <button type="button" class="btn btn-light ml-2" >Dead</button >
      </a ></div >
  </div >
</div >

<div class="container-fluid text-center" >
  <div class="col" >
    <!--if not empty list-->
    <div class="container-fluid" data-th-if="${not #lists.isEmpty(turns)}" >
      <div class="row" >
        <div class="container-fluid" >
          <table class="table table-hover table-striped table-responsive-sm  mt-1" id="myTable" >
            <tr >
              <th >Index</th >
              <th >Person Code</th >
              <th >Person Name</th >
              <th >Identified Date</th >
              <th >Current Status</th >
              <th >View</th >
            </tr >
            <tbody >
            <tr data-th-each="turn, index : ${turns}" >
              <td data-th-text="${index.count}" ></td >
              <td data-th-text="${turn.person.code}" ></td >
              <td data-th-text="${turn.person.name}" ></td >
              <td data-th-text="${{turn.identifiedDate}}" ></td >
              <td data-th-text="${turn.personStatus.personStatus}" ></td >
              <td >
                <a class="btn btn-success btn-sm" data-th-href="${'/turn/' + turn.id}" ><i
                      class="fa fa-folder-open" ></i >&nbsp;View</a >
                <a class="btn btn-primary btn-sm" data-th-href="${'/turn/edit/' + turn.id}" ><i
                      class="fa fa-edit" ></i >&nbsp;Edit</a >
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-th-attr='data-target=${"#modelId"+turn.id}' >
                  Change Turn Status
                </button >
                <!-- Modal -->
                <div class="modal fade bd-example-modal-xl" data-th-id="${'modelId'+turn.id}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="modelTitleId"
                     aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                  <div class="modal-dialog modal-dialog-centered" role="document" >
                    <div class="modal-content" >
                      <div class="modal-header" >
                        <h5 class="modal-title" >Change Person Status </h5 >
                      </div >
                      <div class="modal-body" >
                        <div class="" container >
                          <form action="/turn/personStatusChange" method="POST" >
                            <input type="hidden" name="id" data-th-value="${turn.id}" >
                            <!--Person Status-->
                            <div class="form-row text-md-right text-sm-left" >
                              <div class="col" >
                                <select class="form-control col-md-9" data-th-name="${'personStatus'}" required >
                                  <option value="" disabled selected >Please select</option >
                                  <option data-th-each="personState : ${personStatuses}"
                                          data-th-text="${personState.personStatus}"
                                          data-th-value="${personState}" ></option >
                                </select >
                              </div >
                            </div >
                            <!-- button area-->
                            <div class="form-group col-md-12 col-sm-12 text-center flex-column mt-3" >
                              <!--model close -->
                              <button type="button" class="btn btn-secondary" data-dismiss="modal" ><i
                                    class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Close
                              </button >
                              <!--Save Button-->
                              <button class="btn btn-success ml-md-5" type="submit" >
                                <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;
                                <span data-th-text="${'Save'}" ></span >
                              </button >
                            </div >
                          </form >
                        </div >
                      </div >
                    </div >
                  </div >
                </div >
              </td >
            </tr >
            </tbody >
          </table >
        </div >
      </div >
    </div >
    <!--if empty list-->
    <div class="row" data-th-if="${ #lists.isEmpty(turns)}" >
      <div class="col-sm-12" >
        <div class="alert alert-warning alert-dismissible fade show"
             role="alert" >
          <button aria-label="Close" class="close" data-dismiss="alert"
                  type="button" >
            <span aria-hidden="true" >&times;</span >
          </button >
          <h3 class="text-center text-danger" >
            <strong >There is no turn up to now.
            </strong >
          </h3 >
        </div >
      </div >
    </div >
  </div >
</div >
<!--footer fragment-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<!-- data table -->
<script src="/js/pagination.js" ></script >

</body >
</html >