<!DOCTYPE html>
<html lang="en" >
<footer data-th-fragment="footerFragment" class="page-footer" >
  <div class="footer-copyright" >
    <div class="container-fluid text-center text-info" >
      <p >
        <strong >
          <i >
            <a href="http://www.pgis.pdn.ac.lk" target="_blank" class="text-dark" >
              &copy;<span class="mr-1 ml-1" id="currentYear" ></span > Postgraduate Institute Science University of
              Peradeniya -
              Sri Lanka </a >
          </i >
        </strong >
      </p >
    </div >
  </div >
</footer >

