<!doctype html>
<html lang="en" >
<head data-th-fragment="headerFragment" class="mb-5" >
  <title data-th-if="${headerTitle==null}" data-th-text="${'Covid19 - Static '}" >Spring boot - Thymeleaf</title >
  <link rel="logo icon" data-th-href="${'/img/favicon.ico'}" >
  <!-- Required meta tags -->
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

  <!-- fontawesome css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" >

  <!--Chart js-->
  <!--<link data-th-href="@{/webjars/chart.js/2.9.3/dist/Chart.min.css}" media="all" rel="stylesheet" type="text/css" >-->

  <!--table pagination-->
  <link data-th-href="@{/css/dataTables.bootstrap.min.css}" media="all" rel="stylesheet" type="text/css" />
  <!-- Custom styles for this template -->
  <link data-th-href="@{/css/myCss.css}" media="all" rel="stylesheet" type="text/css" />

  <!--Floating Label-->
  <link data-th-href="@{/css/floating-labels.css}" media="all" rel="stylesheet" type="text/css" />
  <!--Custom CSS-->
  <link data-th-href="@{/css/myCss.css}" media="all" rel="stylesheet" type="text/css" />
</head >
<body >


</body >
</html >

