<!DOCTYPE html>
<html lang="en" >
<body >
<div data-th-fragment="navBarFragment" >
  <nav class="navbar navbar-expand-md mb-2 bg-secondary" >
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon my-toggler" ></span >
    </button >

    <div class="collapse navbar-collapse" id="collapsibleNavId" >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
        <li class="nav-item active ml-2" >
          <a class="nav-link " data-sec-authorize="isAuthenticated()" href="/mainWindow" >Home <span
                class="sr-only" >(current)</span ></a >
          <a class="nav-link " data-sec-authorize="!isAuthenticated()" href="/" >Home <span
                class="sr-only" >(current)</span ></a >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a class="nav-link dropdown-toggle" href="#" id="general"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" >General</a >
          <div class="dropdown-menu" aria-labelledby="general" >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/district" >District Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/dsOffice" >Divisional Secretary Office Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_PHI')" class="dropdown-item"
               href="/gramaNiladhari" >Gramaniladhari Division Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/locationInteract" >Location Interact Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/person" >Person Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/turn" >Turn Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/role" >Role Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/user" >User Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/userDetails" >User Details Management</a >
          </div >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a class="nav-link dropdown-toggle" href="#" id="transaction"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false" >Transaction</a >
          <div class="dropdown-menu" aria-labelledby="transaction" >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/district/add" >District Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/dsOffice/add" >Divisional Secretary Office Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/gramaNiladhari/add" >Gramaniladhari Division Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_PHI')" class="dropdown-item"
               href="/locationInteract/add" >Location Interact Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_PHI')" class="dropdown-item"
               href="/person/add" >Person Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/role/add" >Role Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/user/add" >User Add</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="dropdown-item"
               href="/userDetails/add" >User Details Add</a >
          </div >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a class="nav-link dropdown-toggle" href="#" id="report"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" >Report</a >
          <div class="dropdown-menu" aria-labelledby="report" >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/report/gramaniladhari" >Gramaniladhari </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/report/dsOffice" >Divisional Sectretory Office </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/report/district" >District </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="dropdown-item"
               href="/report/province" >Province </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_PHI','ROLE_ADMIN')" class="dropdown-item"
               href="/report/all" >All
                                   Summary </a >
          </div >
        </li >
        <li class="nav-item active ml-2" >
          <a class="nav-link " href="/patientVisitedPlaceTime" >Recent Identified Places <span
                class="sr-only" >(current)</span ></a >
        </li >
      </ul >

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mr-md-n1" >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"
             aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button" >
            <i class="fas fa-user-tie" ></i >&nbsp;&nbsp;
            <span data-th-text="${#authentication.name}" ></span >
            <span class="caret" ></span >
          </a >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1" >
            <a class="dropdown-item" data-th-href="${'/profile'}" > <i class="fas fa-user-cog" ></i > &nbsp;Profile
            </a >
            <a class="dropdown-item" data-th-href="${'/passwordChange'}" > <i class="fas fa-key " ></i >&nbsp;Change
                                                                                                        Password</a >
          </div >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a href="/logout" class="nav-link " > <i class="fas fa-sign-out-alt" ></i >&nbsp;&nbsp;
                                                                                     Log
                                                                                     out</a >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="!isAuthenticated()" >
          <a href="/login" class="nav-link" ><i class="fas fa-sign-in-alt" ></i >&nbsp;&nbsp;Login</a >
        </li >
      </ul >
    </div >
  </nav >
</div >
</body >
</html >

