<!DOCTYPE html>
<html lang="en" >
<body >
<div data-th-fragment="navBarFragment" >
  <nav class="navbar navbar-expand-md font-weight-lighter" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon" ></span >
    </button >
    <div class="collapse navbar-collapse" id="collapsibleNavId" >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
        <li class="nav-item active ml-2" >
          <a class="nav-link text-white font-weight-bolder" href="/mainWindow" >Home <span
                class="sr-only" >(current)</span ></a >
        </li >
        <li class="nav-item dropdown ml-2" >
          <a class="nav-link dropdown-toggle" href="#" id="general"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" >General</a >
          <div class="dropdown-menu" aria-labelledby="general" >
            <a data-sec-authorize="hasAnyAuthority('ROLE_GUARD')" class="dropdown-item"
               href="/category" >Category Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERINTENDENT', 'ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/chandler" >Chandler Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SUPERINTENDENT', 'ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/chandlerLicense" >Chandler License Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_GUARD')" class="dropdown-item"
               href="/item" >Item Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SHIP_AGENT', 'ROLE_SUPERINTENDENT')"
               class="dropdown-item" href="/payment" >Payment Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERINTENDENT')"
               class="dropdown-item" href="/role" >Role Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/shipAgent" >Ship Agent Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')"
               class="dropdown-item" href="/user" >User Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERINTENDENT', 'ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/userDetails" >User Details Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_INSPECTOR')"
               class="dropdown-item" href="/vesselArrivalHistory" >Vessel Arrival History Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_INSPECTOR')"
               class="dropdown-item" href="/vessel" >Vessel Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SHIP_AGENT')"
               class="dropdown-item" href="/vesselOrder" >Vessel Order Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_CHANDLER')"
               class="dropdown-item" href="/vesselOrderItemBid" >Vessel Order bid Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SUPERINTENDENT', 'ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/vesselOrder" >Vessel Order Approval Management</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_INSPECTOR')" class="dropdown-item"
               href="/warehouseBlock" >Warehouse Block Management</a >
          </div >
        </li >
        <li class="nav-item dropdown ml-2" >
          <a class="nav-link dropdown-toggle" href="#" id="transaction"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false" >Transaction</a >
          <div class="dropdown-menu" aria-labelledby="transaction" >
            <a data-sec-authorize="hasAnyAuthority('ROLE_GUARD')" class="dropdown-item"
               href="/category/add" >Add Category </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/chandler/add" >Add Chandler </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/chandlerLicense" >Add Chandler License </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_GUARD')" class="dropdown-item"
               href="/item/add" >Add Item </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SHIP_AGENT')"
               class="dropdown-item" href="/payment" >Add Payment </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')"
               class="dropdown-item" href="/role/add" >Add Role </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item"
               href="/shipAgent/add" >Add Ship Agent </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')"
               class="dropdown-item" href="/user/add" >Add User </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_SUPERINTENDENT', 'ROLE_ASSISTANT_SUPERINTENDENT')"
               class="dropdown-item" href="/userDetails/add" >Add User Details </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_INSPECTOR')"
               class="dropdown-item" href="/vesselArrivalHistory/arrival" >Add Vessel Arrival History </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_INSPECTOR')"
               class="dropdown-item" href="/vessel/add" >Add Vessel </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SHIP_AGENT')" class="dropdown-item"
               href="/vesselOrder/add" >Add Vessel Order </a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_SUPERINTENDENT')" class="dropdown-item"
               href="/vesselOrderItemApproval" >Add Vessel Order Item Approval</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_CHANDLER')" class="dropdown-item"
               href="/vesselOrderItemBid" >Add Vessel Order Item Bid</a >
            <a data-sec-authorize="hasAnyAuthority('ROLE_INSPECTOR')" class="dropdown-item"
               href="/warehouseBlock/add" >Add Warehouse Block </a >
          </div >
        </li >
        <li class="nav-item dropdown ml-2" >
          <a class="nav-link dropdown-toggle" href="#" id="report"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" >Report</a >
          <div class="dropdown-menu" aria-labelledby="report" >
            <a class="dropdown-item" href="/report/chandlers" >Chandlers Details </a >
            <a class="dropdown-item" href="/report/shipAgent" >Ship Agent Details</a >
            <a class="dropdown-item" href="/report/vessel" >Vessel Details</a >
            <a class="dropdown-item" href="/report/vesselOrder" >Vessel Order Details</a >
          </div >
        </li >
      </ul >

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mr-md-n1" >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"
             aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button" >
            <i class="fas fa-user-tie" ></i >&nbsp;&nbsp;
            <span data-th-text="${#authentication.name}" ></span >
            <span class="caret" ></span >
          </a >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1" >
            <a class="dropdown-item" data-th-href="${'/profile'}" > <i class="fas fa-user-cog" ></i > &nbsp;Profile
            </a >
            <a class="dropdown-item" data-th-href="${'/passwordChange'}" > <i class="fas fa-key " ></i >&nbsp;Change
                                                                                                        Password</a >
          </div >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="isAuthenticated()" >
          <a href="/logout" class="nav-link " > <i class="fas fa-sign-out-alt" ></i >&nbsp;&nbsp;
                                                                                     Log
                                                                                     out</a >
        </li >
        <li class="nav-item dropdown ml-2" data-sec-authorize="!isAuthenticated()" >
          <a href="/login" class="nav-link" ><i class="fas fa-sign-in-alt" ></i >&nbsp;&nbsp;Login</a >
        </li >
      </ul >
    </div >
  </nav >
</div >
</body >
</html >

