<!doctype html>
<html lang="en" >
<body >
<div data-th-fragment="scriptFragment" >

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script >
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script >
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script >

  <!-- Chart js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3/dist/chart.min.js" ></script >
  <!-- fontawesome js -->
  <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/js/fontawesome.min.js" ></script >


  <!--To modify the alert-->
  <script src="/js/sweetalert.js" ></script >
  <!-- data table -->
  <script src="/js/pagination.js" ></script >
  <!--custom javascript-->
  <script src="/js/myJs.js" ></script >

  <!--notification count get url-->
  <!--  <script>
        $(document).ready(function () {
            /*
            console.log("petition count url "+ petitionCountUrl);
            console.log("document.URL : "+document.URL);
            console.log("document.location.href : "+document.location.href);
            console.log("document.location.origin : "+document.location.origin);
            console.log("document.location.hostname : "+document.location.hostname);
            console.log("document.location.host : "+document.location.host);
            console.log("document.location.pathname : "+document.location.pathname);
            */

            let petitionCountUrl = document.location.origin + "/petitionCount";
            if (document.location.pathname !== "/login") {
                // to get petition count every five secound
                window.setInterval(function () {
                    $.ajax({
                        type: "get",
                        dataType: 'json',
                        contentType: 'application/json',
                        url: petitionCountUrl,
                        success: function (data, textStatus) {
                            if (textStatus === 'success') {
                                /// call your function here
                                $("#petitionTodayCount").html(data);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('request failed   ' + errorThrown);
                            location.reload();
                        }
                    });

                }, 5000);
            }
        });
    </script>-->
</div >
</body >
</html >




