<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<!--table pagination-->
<link data-th-href="@{/css/dataTables.bootstrap.min.css}" media="all" rel="stylesheet" type="text/css" />

<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid mt-2" >
  <div class="row text-center" >
    <div class="col-7" >
      <span class="font-weight-bold h2" > Recent Locations where patient was found </span >
    </div >
    <div class="col-5" >
      <a class="btn btn-primary" data-th-href="${'/home'}" id="searchShow" tabindex="2" >
        <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >

<!--data find form-->
<div class="container-fluid mt-2" >
  <!--date selection rows-->
  <div class="form-row" >
    <!--Left Side-->
    <div class="col-md-6 col-sm-6 " >
      <!--Arrival At-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="arrivalAt" >Arrival At :</label >
        </div >
        <div class="col-md-8" >
          <input class="form-control" id="arrivalAt" type="datetime-local" />
        </div >
      </div >
    </div >
    <!--Right Side-->
    <div class="col-md-6 col-sm-6 " >
      <!--departure At-->
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="leaveAt" >Departure At :</label >
        </div >
        <div class="col-md-8" >
          <input class="form-control" id="leaveAt" type="datetime-local" />
        </div >
      </div >
    </div >
  </div >
  <div class="form-row" >
    <!--  date selection message-->
    <div class="container-fluid" >
      <div class="bg-warning container-fluid " >
        <div class="text-center" >
          <strong > Please select date range within 14 days because of covid-19 virus would be infected within 5
                    days. </strong ></div >
      </div >
    </div >
  </div >
  <!--  grmaniladhari selection row-->
  <div class="form-row" >
    <!--Left Side-->
    <div class="col-md-6 col-sm-6 " >
      <div class="form-row text-md-right text-sm-left" >
        <div class="col-md-4" >
          <label class="control-label" for="gramaNiladhari" >Gramaniladhari Division :</label >
        </div >
        <div class="col-md-8" >
          <input type="text" id="gramaNiladhari" class="form-control"
                 placeholder="Please enter gramaniladari division name" onkeyup="gramaniladhari(this)" />
          <input type="text" id="gramaNiladhariOne" readonly name="locationInteract.gramaNiladhari.name"
                 class="form-control" disabled value="" >
          <div id="gramaNiladhari-box" ></div >
          <span class="form-text text-muted bg-warring" >Please type more than 3 character</span >
          <input name="locationInteract.gramaNiladhari.id" id="gramaNiladhariId" hidden value="" >
        </div >
      </div >

    </div >
    <!--Right Side-->
    <div class="col-md-6 col-sm-6 " >
      <div class="form-row text-md-right text-sm-left p-5" >
        <div class="col-md-5 text-left" >
          <a class="btn btn-success btn-group text-white" >
            <i class="fa fa-search" ></i > &nbsp; Search </a >
        </div >
        <div class="col-md-7 text-right" >
          <a class="btn btn-primary btn-group text-white" data-toggle="modal" data-target="#modelId" >
            <i class="fa fa-comments" ></i > &nbsp; SMS Subscribe &nbsp; <i class="fa fa-rocket" ></i > </a >
        </div >
      </div >
    </div >
  </div >
</div >

<!--  general message-->
<div class="container-fluid mt-2" >
  <div class="form-row" >
    <div class="bg-danger container-fluid " role="alert" >
      <div class="text-center" >
        <strong class="text-center" >Please get self-quarantine and inform relevant officers if you have any interaction
                                     with identified place
                                     within 5 days. </strong >
      </div >
    </div >
  </div >
</div >
<!--if not empty list-->
<div class="container-fluid" >
  <table class="table table-hover table-striped" id="myTable" >
    <thead class="thead-inverse" >
    <tr >
      <th >Index</th >
      <th >Location Name</th >
      <th >Arrival At</th >
      <th >Departure At</th >
    </tr >
    </thead >
    <tbody >

    </tbody >
  </table >
</div >

<!--location interaction new add -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content" >
      <div class="modal-header" >
        <h5 class="modal-title" >News subscription</h5 >
      </div >
      <form id="contactForm" name="contact" role="form" >
        <div class="modal-body" >
          <div class="container" >
            <div class="row" >
              <!--Left Side-->
              <div class="col" >
                <!--Gramaniladhari division-->
                <div class="form-row text-md-right text-sm-left" >
                  <div class="col-md-4" >
                    <label class="control-label" for="gramaNiladhari1" >Gramaniladhari Division :</label >
                  </div >
                  <div class="col-md-8" >
                    <input type="text" id="gramaNiladhari1" class="form-control"
                           placeholder="Please enter gramaniladari division name" onkeyup="gramaniladhari(this)" />
                    <input type="text" id="gramaNiladhari1One" readonly name="locationInteract.treatmentCenter.name"
                           class="form-control" disabled value="" >
                    <div id="gramaNiladhari1-box" ></div >
                    <span class="form-text text-muted bg-warring" >Please type more than 3 character</span >
                    <input name="treatmentCenter.id" id="gramaNiladhari1Id" hidden value="" >
                  </div >
                </div >
                <!--locationInteract-->
                <div class="form-row text-md-right text-sm-left" >
                  <div class="col-md-4" >
                    <label class="control-label" data-th-for="${'mobile'}" >Mobile :</label >
                  </div >
                  <div class="col-md-8" >
                    <input type="text" id="mobile" class="form-control mobile" name="mobile" value=""
                           placeholder="please enter mobile number" minlength="9" maxlength="10" >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
        <div class="modal-footer" >
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" id="closeModel" >
            <i class="fa fa-window-close" aria-hidden="true" ></i >&nbsp;&nbsp; Close
          </button >
          <button type="submit" class="btn btn-success btn-sm" id="saveModel" >
            <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;
            <span data-th-text="${'Save'}" ></span >
          </button >
        </div >
      </form >
    </div >
  </div >
</div >


<input data-th-value="${gramaNiladhariSearchUrl}" hidden id="gramaNiladhariSearchUrl" type="text" >
<input data-th-value="${subscribeUrl}" hidden id="subscribeUrl" type="text" >
<input data-th-value="${interactLocationSearchPageDataUrl}" hidden id="interactLocationSearchPageDataUrl" type="text" >
<!--footer fragment-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<!-- data table -->
<script src="/js/pagination.js" ></script >
<script src="/js/patientVisitedPlaceTime.js" ></script >
</body >
</html >