<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<div data-th-replace="~{fragments/navBar :: navBarFragment}" ></div >
<div class="container-fluid" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/policeStation/add'}" >
        <i class="fa fa-user-plus" ></i > &nbsp; Add Police Station </a >
    </div >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/policeStation/excel'}" >
        <i class="fa fa-users" ></i > &nbsp; Add Police Stations &nbsp;
        <i class="far fa-file-excel" ></i >
      </a >
    </div >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/policeStation/search'}" >
        <i class="fa fa-search" ></i > &nbsp; Search Police Station </a >
    </div >
  </div >
  <div class="row text-center" >
    <div class="col" >
      <h4 class="text-center" >
        <strong >
          Police Station Management
        </strong >
      </h4 >
    </div >
  </div >
</div >
<div class="container-fluid " >
  <div class="col-sm-12 flex-column " >
    <div class="row" data-th-if="${not #lists.isEmpty(policeStations)}" >
      <div class="row" >
        <div class="col text-left" >
          <label for="pageSizeSelect" ></label >
          <select class="form-control pagination" id="pageSizeSelect" >
            <option data-th-each="pageSize : ${pageSizes}" data-th-text="${pageSize}"
                    data-th-value="${pageSize}"
                    data-th-selected="${pageSize} == ${selectedPageSize}" ></option >
          </select >
        </div >
      </div >
      <table class="table table-hover table-striped table-responsive-sm  mt-1" >
        <tr >
          <th >Index</th >
          <th >Re. Number</th >
          <th >Name</th >
          <th >NIC</th >
          <th >Mobile</th >
          <th >Status</th >
          <th >Police Area</th >
          <th >View</th >
        </tr >
        <tr data-th-each="policeStation, index : ${policeStations}" >
          <td data-th-text="${index.count}" ></td >
          <td data-th-text="${policeStation.number}" ></td >
          <td data-th-text="${policeStation.name}" ></td >
          <td data-th-text="${policeStation.nic}" ></td >
          <td data-th-text="${policeStation.mobile}" ></td >
          <td data-th-text="${policeStation.deadLive.deadLive}" ></td >
          <td data-th-text="${policeStation.policeStation.name}" ></td >
          <td >
            <a class="btn btn-success btn-sm" data-th-href="${'/policeStation/' + policeStation.id}" ><i
                  class="fa fa-folder-open" ></i >&nbsp;View</a >
          </td >
        </tr >
      </table >
      <div class="row" >
        <div data-th-if="${policeStations.totalPages != 1}" class="form-group col-md-11 pagination-centered" >
          <ul class="pagination" >
            <li data-th-class="${policeStations.number == 0} ? disabled : page-item" >
              <a class="page-link" data-th-href="@{/policeStation/(pageSize=${selectedPageSize}, page=1)}" >&laquo;</a >
            </li >
            <li data-th-class="${policeStations.number == 0} ? disabled : page-item" >
              <a class="page-link"
                 data-th-href="@{/policeStation/(pageSize=${selectedPageSize}, page=${policeStations.number})}" >&larr;</a >
            </li >
            <li data-th-class="${policeStations.number == (page - 1)} ? 'active pointer-disabled' : page-item"
                data-th-each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}" >
              <a class="page-link"
                 data-th-href="@{/policeStation/(pageSize=${selectedPageSize}, page=${page})}"
                 data-th-text="${page}" ></a >
            </li >
            <li data-th-class="${policeStations.number + 1 == policeStations.totalPages} ? disabled : page-item" >
              <a class="page-link"
                 data-th-href="@{/policeStation/(pageSize=${selectedPageSize}, page=${policeStations.number + 2})}" >&rarr;</a >
            </li >
            <li data-th-class="${policeStations.number + 1 == policeStations.totalPages} ? disabled : page-item" >
              <a class="page-link"
                 data-th-href="@{/policeStation/(pageSize=${selectedPageSize}, page=${policeStations.totalPages})}" >&raquo;</a >
            </li >
          </ul >
        </div >
      </div >
    </div >
  </div >
</div >

<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<script data-th-src="@{/js/app.js}" ></script >
</body >
</html >
