body {
    font-family: "Open Sans", Arial;
    background: #EEE;
    text-align: center;
}

body * {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.pie-chart {
    font-family: "Open Sans", Arial;
}

.pie-chart--wrapper {
    width: 340px;
    margin: 30px auto;
    text-align: center;
    background-color: hsl(34deg 78% 91%);
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid hsl(0deg 6% 73%);
    box-shadow: 20px 21px 27px 6px rgb(244 166 98 / 39%);
    transition: 0.7s ease-in-out transform;

}

.pie-chart--wrapper:hover {
    box-shadow: 0px 0px 27px 20px rgba(244, 166, 98, 0.39);
    transform: translate3d(0px, 0px, -250px);
    transition: 0.4s ease-in-out box-shadow;
}

.pie-chart__pie, .pie-chart__legend {
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
}

.pie-chart__pie {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto 35px;
}

.pie-chart__pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.pie-chart__pie::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
    margin: 220px auto;
}

.slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    -webkit-animation: bake-pie 1s;
    animation: bake-pie 1s;
}

.slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
    display: block;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    background: #726d6d;
    padding: 0.75em 0.85em 0.05em;
    font-size: 13px;
    box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
    text-align: left;
    width: 65%;
}

.pie-chart__legend li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
}

.pie-chart__legend em {
    font-style: normal;
}

.pie-chart__legend span {
    float: right;
}

.pie-charts {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .pie-charts {
        flex-direction: column;
    }
}

h1.banner {
    font-style: "Arial";
    font-size: 5em;
    color: white;
    margin-top: 200px;
    font-weight: bold;
}

h2 {
    font-style: "Arial";
    font-size: 2em;
    color: brown;
    font-weight: bold;
}

.mypanel {
    color: #444;
    font-size: 1em;
    text-align: left;
}

.date {
    margin-top: 20px;
    font-size: 2em;
    color: black;
    font-weight: bold;
    font-style: "Arial";
}

/* Page Banner */

header {
    position: relative;
    background-color: black;
    height: 60vh;
    min-height: 15rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 80%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.ppt-content {
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    background-color: hsl(34deg 78% 91%);
}

.ppt-content:hover {
    transform: translate3d(0px, 0px, -250px);
}

.text-dark > a {
    text-decoration: none;
    color: black;
}

.pie-charts {
    background-color: #000121;
}

.brown {
    background-color: hsl(28deg 87% 67%);
}

.div-sample {
    border-radius: 1em;
    perspective: 600px;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.25),
    0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);
}

.div-sample::before {
    border-radius: 0 0 1em 1em;
    width: 100%;
    height: 50%;
    transform-origin: center top;
    transform: rotateX(180deg);
    background: #333232 linear-gradient(180deg,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.4));
    transition: 0.7s ease-in-out transform;
}

.div-sample:hover::before {
    transform: rotateX(0);
}

ul {
    list-style: square;
}

.ppt-background {
    background-color: hsl(238deg 100% 6%);
}