.card {
    border: none;
    background-color: hsl(0deg 87% 12%);
    text-align: center;
    transition: all .8s linear;
    -o-transition: all .8s linear;
    -moz-transition: all .8s linear;
    -webkit-transition: all .8s linear;
}

.card:hover {
    background: #00ffff;
    transition: background-color 1000ms linear;
    cursor: pointer;
    box-shadow: 4px 5px 25px 10px rgba(18, 248, 248, 0.27);
}

.card:hover ~ .card > a {
    color: hsl(19deg 100% 13%);
    transition: color 1000ms linear;
}

.card > a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

#accordianId1 > .card {
    background-color: transparent;
}

#accordianId > .card {
    background-color: transparent;
}

.card-header:hover {
    background-color: black;
    transition: background-color 1000ms linear;
}

.card-header:hover {
    background-color: black;
    transition: background-color 1000ms linear;
}

#section1HeaderId, #section1HeaderId1 {
    background: linear-gradient(to right, gold, darkorange);
    color: white;
    --width: 450px;
    --height: 50px;
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: calc(var(--height) / 2.5);
    font-family: sans-serif;
    letter-spacing: 0.2em;
    border: 1px solid darkgoldenrod;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

#section1HeaderId:hover, #section1HeaderId1:hover {
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

#section1HeaderId::before, #section1HeaderId1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
}

#section1HeaderId:hover::before, #section1HeaderId1:hover::before {
    left: 100%;
}