.card {
    border-radius: 5px 0 5px 0;
    text-align: center;
    transition: all .8s linear;
    -o-transition: all .8s linear;
    -moz-transition: all .8s linear;
    -webkit-transition: all .8s linear;
}

.card:hover {
    background: #00ffff;
    transition: background-color 1000ms linear;
    cursor: pointer;
    box-shadow: 4px 5px 25px 10px rgba(18, 248, 248, 0.27);
}

.card:hover ~ .card > a {
    color: #fff;
    transition: color 1000ms linear;
}

.card > a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

#accordianId1 > .card {
    background-color: transparent;
}

#accordianId > .card {
    background-color: transparent;
}

#accordianId1 > .card-header {
    background-color: black;
    transition: background-color 1000ms linear;
}

#accordianId > .card-header {
    background-color: black;
    transition: background-color 1000ms linear;
}