<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >CodePen - Responsive and Animated Pie Charts</title >
</head >

<body >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" >
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' >
<link rel="stylesheet" href="./css/index_style.css" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >


<!-- partial:index.partial.html -->
<div class="container-fluid bg-white" >
  <!-- Page Header -->
  <div class="row" >
    <header >

      <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
      <div class="overlay" ></div >

      <!-- The HTML5 video element that will create the background video on the header -->
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
        <!--<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"> -->
        <source
              src="https://media.istockphoto.com/videos/red-coronavirus-xray-cancer-illness-ncov-virus-close-up-defocus-red-video-id1207750416"
              type="video/mp4" >
        <!--<source src="https://media.istockphoto.com/videos/dispersed-corona-viruses-with-blue-liquid-background-video-id1217834492" type="video/mp4">-->

      </video >

      <!-- The header content -->
      <div class="container h-100" >
        <div class="d-flex h-100 text-center align-items-center" >
          <div class="w-100 text-white" >
            <h1 class="display-3" >Covid19 Contact Tracer</h1 >
            <p class="lead mb-0" >Standing Together</p >
          </div >
        </div >
      </div >
    </header >
  </div >
  <!-- End of Page Header -->
  <div class="row" >
    <div class="container-fluid" >
      <!-- JSON Request -->
      <div class="row" >
        <div class="text-center col" >
          <p class="text-dark date" >Result last updated time
            <span id="date" class="text-dark" ></span >
          </p >
        </div >
      </div >
      <!-- End of JSON request -->
      <div class="row" >
        <div class="pie-charts container-fluid" >
          <div class="pieID--localstat pie-chart--wrapper" >
            <h2 ><u >Local Statistics</u ></h2 >
            <div class="pie-chart" >
              <div class="pie-chart__pie" ></div >
              <ul class="pie-chart__legend" >
                <li ><em >Total Recovered</em ><span id="totRecov" >642</span ></li >
                <li ><em >Total Deaths</em ><span id="totDeth" >358</span ></li >
                <li ><em >Active Cases</em ><span id="totActiv" >642</span ></li >
                <li ><em >Total Cases</em ><span id="totCases" >358</span ></li >
              </ul >
            </div >
          </div >
          <div class="pieID--dailystat pie-chart--wrapper" >
            <h2 ><u >Daily Local Statistics</u ></h2 >
            <div class="pie-chart" >
              <div class="pie-chart__pie" ></div >
              <ul class="pie-chart__legend" >
                <li ><em >New Cases</em ><span id="dailyNew" >768</span ></li >
                <li ><em >Recovered</em ><span id="DailyRecov" >232</span ></li >
                <li ><em >Deaths</em ><span id="dailyDeth" >768</span ></li >
              </ul >
            </div >
          </div >
          <div class="pieID--globalstat pie-chart--wrapper" >
            <h2 ><u >Global Statistics</u ></h2 >
            <div class="pie-chart" >
              <div class="pie-chart__pie" ></div >
              <ul class="pie-chart__legend" >
                <li ><em >Global Recovered</em ><span id="glbRecovered" >486</span ></li >
                <li ><em >Global Deaths</em ><span id="glbDeth" >156</span ></li >
                <li ><em >Global Active Cases</em ><span id="glbActive" >215</span ></li >
                <li ><em >Global Total Cases</em ><span id="glbTotal" >143</span ></li >
              </ul >
            </div >
          </div >
        </div >
      </div >
      <!-- data credit -->
      <div class="row" >
        <div class="text-center col" >
          <em class="text-dark p" >Result was taken from <a href="https://www.hpb.health.gov.lk/en" target="_blank" >
            HEALTH PROMOTION BUREAU</a > </em >
        </div >
      </div >
    </div >
  </div >
  <!--  purpose of this report-->
  <div class="row mt-3" >
    <div class="col-12 text-center" >
      <p class="h3 text-capitalize" >Why we create this</p >
    </div >
    <div class="col-md-6 p-2 ppt-content" >
      <div class="col-12 text-center" >
        <p class="h5 text-capitalize" >Heading one</p >
      </div >
      <p >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consequuntur dicta eaque eos excepturi iure nemo neque ratione
        sit ullam veritatis!
      </p >
    </div >
    <div class="col-md-6 p-2 ppt-content" >
      <div class="col-12 text-center" >
        <p class="h5 text-capitalize" >Heading one</p >
      </div >
      <p >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
        eaque nemo quas reiciendis, sequi velit veniam veritatis? Hic,
        labore, voluptatibus?
      </p >
    </div >
  </div >
</div >
<footer class="page-footer" >
  <div class="footer-copyright" >
    <div class="container-fluid text-center text-info" >
      <p >
        <strong >
          <i >
            <a href="http://www.pgis.pdn.ac.lk" target="_blank" class="text-dark" >
              &copy;<span class="mr-1 ml-1" id="currentYear" ></span > Postgraduate Institute Science University of
              Peradeniya -
              Sri Lanka </a >
          </i >
        </strong >
      </p >
    </div >
  </div >
</footer >

<script src='https://code.jquery.com/jquery-2.2.4.min.js' ></script >
<script src='https://codepen.io/MaciejCaputa/pen/EmMooZ.js' ></script >
<script src="./js/index_script.js" ></script >

</body >
</html >
