<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<link rel="stylesheet" data-th-href="@{/css/mainWindow.css}" >
<div data-th-replace="~{fragments/navBar :: navBarFragment}" ></div >
<div class="container-fluid mb-3" >
  <div class="row d-flex justify-content-center" >
    <!--Add Person-->
    <div data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="col-xl-4 col-sm-6 col-12 mb-1" >
      <div class="card" >
        <div class="card-content" >
          <div class="card-body" >
            <div class="media d-flex" >
              <div class="align-self-center" >
                <i class="icon-speech warning font-large-2 float-left" ></i >
              </div >
              <div class="media-body" >
                <a class="h3" href="/person/add" ><i class="fa fa-user-plus" aria-hidden="true" ></i >&nbsp;&nbsp;Add
                                                                                                      Person</a >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
    <!--add Turn-->
    <div data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="col-xl-4 col-sm-6 col-12 mb-1" >
      <div class="card" >
        <div class="card-content" >
          <div class="card-body" >
            <div class="media d-flex" >
              <div class="align-self-center" >
                <i class="icon-speech warning font-large-2 float-left" ></i >
              </div >
              <div class="media-body" >
                <a class="h3" href="/person" ><i class="fas fa-file-medical" ></i >&nbsp;&nbsp;New Record</a >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
    <!--Edit Turn-->
    <div data-sec-authorize="hasAnyAuthority('ROLE_PHI')" class="col-xl-4 col-sm-6 col-12 mb-1" >
      <div class="card" >
        <div class="card-content" >
          <div class="card-body" >
            <div class="media d-flex" >
              <div class="align-self-center" >
                <i class="icon-speech warning font-large-2 float-left" ></i >
              </div >
              <div class="media-body" >
                <a class="h3" href="/turn" ><i class="fas fa-edit" ></i > &nbsp;&nbsp; Edit Turn</a >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
    <!--add UserDetails-->
    <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="col-xl-4 col-sm-6 col-12 mb-1" >
      <div class="card" >
        <div class="card-content" >
          <div class="card-body" >
            <div class="media d-flex" >
              <div class="align-self-center" >
                <i class="icon-speech warning font-large-2 float-left" ></i >
              </div >
              <div class="media-body" >
                <a class="h3" href="/userDetails/add" ><i class="fa fa-user-plus" aria-hidden="true" ></i >&nbsp;&nbsp;Add
                                                                                                           UserDetails</a >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
    <!--add User-->
    <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')" class="col-xl-4 col-sm-6 col-12 mb-1" >
      <div class="card" >
        <div class="card-content" >
          <div class="card-body" >
            <div class="media d-flex" >
              <div class="align-self-center" >
                <i class="icon-speech warning font-large-2 float-left" ></i >
              </div >
              <div class="media-body" >
                <a class="h3" href="/user/add" ><i class="fa fa-user-plus" aria-hidden="true" ></i >&nbsp;&nbsp;Add
                                                                                                    User</a >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<div class="container-fluid mb-3" >
  <div class="row mt-3" >
    <div class="container" >
      <div class="row mt-3" data-th-if="${not #lists.isEmpty(allReportDetail.attributeAndCounts)}" >
        <div class="container-fluid" >
          <!--summary report-->
          <div class="container-fluid" >
            <div class="row" >
              <div class="col-md-6 col-sm-12" >
                <div class="row" >
                  <div class="container-fluid text-center" >
                    <h3 >Summary Report</h3 >
                  </div >
                </div >
                <div class="row" >
                  <table class="table table-striped table-inverse table-responsive" id="summaryReport" >
                    <thead class="thead-inverse" >
                    <tr >
                      <th >Index</th >
                      <th >Status Name</th >
                      <th >Record Count</th >
                    </tr >
                    </thead >
                    <tbody >
                    <tr data-th-each="attributeAndCount, index : ${allReportDetail.attributeAndCounts}" >
                      <td data-th-text="${index.count}" ></td >
                      <td data-th-text="${attributeAndCount.name}" ></td >
                      <td data-th-text="${attributeAndCount.count}" ></td >
                    </tr >
                    </tbody >
                  </table >
                </div >
              </div >
              <div class="col-md-6 col-sm-12 mb-sm-5 pt-sm-5 " >
                <div class="row" >
                  <div class="container-fluid text-center" >
                    <h3 > Graphical Representation </h3 >
                  </div >
                </div >
                <div class="row" >
                  <canvas id="myChart" class="container-fluid col-sm-8" ></canvas >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >

<!--footer fragment-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script type="text/javascript" src="/js/mainWindow.js" ></script >
</body >
</html >

