<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-6 bg-transparent offset-md-3" >
      <form class="form-horizontal" id="form" data-th-action="${'/passwordChange'}" data-th-object="${pswChange}"
            method="POST" >
        <fieldset >
          <legend class="text-center h3" >
            Password Change
          </legend >
          <!--Old password-->
          <div class="form-row text-right" >
            <div class="col-md-6" >
              <label class="control-label " for="opsw" >Old Password</label >
            </div >
            <div class="col-md-6 input-group" >
              <input type="password" data-th-field="*{oldPassword}" id="opsw"
                     placeholder="Enter Old Password Here"
                     class="form-control pwd" name="opsw" required />
              <span class="error" id="opswError" data-th-errors="*{oldPassword}"
                    data-th-if="${#fields.hasErrors('oldPassword')}" >Current Password is error</span >

            </div >
          </div >
          <!--new password-->
          <div class="form-row text-right" >
            <div class="col-md-6" >
              <label class="control-label " for="npsw" >New Password</label >
            </div >
            <div class="col-md-6" >
              <input type="password" data-th-field="*{newPassword}" id="npsw"
                     placeholder="Enter New Password Here"
                     class="form-control pwd" name="npsw" required />
              <span class="error" data-th-errors="*{newPassword}"
                    data-th-if="${#fields.hasErrors('newPassword')}"
                    id="npswError" >Error New Password</span >
              <div class="text-right" >
                <span id="resultOne" ></span >
              </div >
            </div >
          </div >
          <!--re enter password-->
          <div class="form-row text-right" >
            <div class="col-md-6" >
              <label class="control-label " for="nrepsw" >Re Enter New Password</label >
            </div >
            <div class="col-md-6" >
              <input type="password" data-th-field="*{newPasswordConform}" id="nrepsw"
                     placeholder="Re Enter New Password Here"
                     class="form-control pwd" name="nrepsw" required />
              <span class="error" id="nrepswError" data-th-errors="*{newPasswordConform}"
                    data-th-if="${#fields.hasErrors('newPasswordConform')}" >Error New Password</span >
              <div class="text-right" >
                <span id="resultTwo" ></span >
              </div >
            </div >
          </div >
          <!--Password match-->
          <div class="form-row text-right" >
            <div class="col-md-6" >
                             <span class="input-group-btn" >
                                <button class=" btn brn-sm bg-white reveal" type="button" >
                                   <i class="fas fa-eye" ></i >
                                </button >
                            </span >
            </div >
            <div class="col-md-6" >
              <span id="passwordMatch" ></span >
            </div >
          </div >
          <!--button-->
          <div class="form-group col-md-12 col-sm-12 text-right flex-column" >
            <button class="btn btn-success" type="submit" >&nbsp; Change Password &nbsp;
              <i class="fa fa-thumbs-up fa-lg" ></i >
            </button >
          </div >
        </fieldset >
      </form >
    </div >
  </div >
</div >
<div id="message" data-th-if="${message}" data-th-class="${'alert alert-dismissable' + alertClass}" >
  <button type="button" class="close" data-dismiss="alert" >&times;</button >
  <strong > <span id="messageNote" data-th-text="${message}" ></span ></strong >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
