<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container-fluid" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-info" data-th-href="${'/home'}" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
    <div class="col" >
      <span class="font-weight-bold h2" data-th-text="${dsOfficeDetail.name}" ></span >
    </div >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/dsOffice'}" >
        <i class="fa fa-list" ></i >&nbsp; Ds Office List </a >
    </div >
  </div >
</div >
<div class="container-fluid text-center" >
  <div class="col-6 offset-md-3" data-th-fragment="dsOfficeDetail" >
    <!--Province-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="form-label " data-th-for="${'province'}" > Province :</label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail"
           data-th-text="${dsOfficeDetail.district.province}" ></p >
      </div >
    </div >
    <!--District-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="form-label " > District </label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail" data-th-text="${dsOfficeDetail.district.name}" ></p >
      </div >
    </div >
    <!--AgOffice name-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="form-label " > Name </label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail" data-th-text="${dsOfficeDetail.name}" ></p >
      </div >
    </div >
    <!--Land Number-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="control-label" >Land No :</label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail" data-th-text="${dsOfficeDetail.land}" ></p >
      </div >
    </div >
    <!--Email-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="control-label" >Email :</label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail" data-th-text="${dsOfficeDetail.email}" ></p >
      </div >
    </div >
    <!--Address-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="control-label" >Address :</label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail" data-th-text="${dsOfficeDetail.address}" ></p >
      </div >
    </div >
    <!--grama_niladhari division count-->
    <div class="form-row text-center" >
      <div class="col-md-4" >
        <label class="control-label" >Gramaniladhari Division Count :</label >
      </div >
      <div class="col-md-8" >
        <p class="display_detail" data-th-text="${#lists.size(dsOfficeDetail.gramaNiladharis)}" ></p >
      </div >
    </div >
  </div >
  <!--summary report-->
  <div class="container-fluid mb-3" >
    <div class="row mt-3" >
      <div class="container" >
        <div class="row mt-3" data-th-if="${!#lists.isEmpty(attributeAndCounts)}" >
          <div class="container-fluid" >
            <div class="row" >
              <!--summary report-->
              <div class="col-md-6 col-sm-12" >
                <div id="accordianId" role="tablist" aria-multiselectable="true" >
                  <div class="card" >
                    <div class="card-header" role="tab" id="section1HeaderId" >
                      <h5 class="mb-0" >
                        <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId"
                           aria-expanded="true"
                           aria-controls="section1ContentId" class="container-fluid accordion-toggle" >
                          Summary Report
                        </a >
                      </h5 >
                    </div >
                    <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
                      <div class="card-body" >
                        <div class="row" >
                          <table class="table table-striped table-inverse" id="summaryReport" >
                            <thead class="thead-inverse" >
                            <tr >
                              <th >Index</th >
                              <th >Status Name</th >
                              <th >Record Count</th >
                            </tr >
                            </thead >
                            <tbody >
                            <tr data-th-each="attributeAndCount, index : ${attributeAndCounts}" >
                              <td data-th-text="${index.count}" ></td >
                              <td data-th-text="${attributeAndCount.name}" ></td >
                              <td data-th-text="${attributeAndCount.count}" ></td >
                            </tr >
                            </tbody >
                          </table >
                        </div >
                      </div >
                    </div >
                  </div >
                </div >
              </div >
              <!--graphical representation-->
              <div class="col-md-6 col-sm-12 " >
                <div id="accordianId1" role="tablist" aria-multiselectable="true" >
                  <div class="card" >
                    <div class="card-header" role="tab" id="section1HeaderId1" >
                      <h5 class="mb-0" >
                        <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId1"
                           aria-expanded="true"
                           aria-controls="section1ContentId1" class="container-fluid accordion-toggle" >
                          Graphical Representation
                        </a >
                      </h5 >
                    </div >
                    <div id="section1ContentId1" class="collapse in" role="tabpanel"
                         aria-labelledby="section1HeaderId1" >
                      <div class="card-body" >
                        <div class="row" >
                          <canvas id="myChart" class="container-fluid col-sm-8" ></canvas >
                        </div >
                      </div >
                    </div >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >

  <!--Button-->
  <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
    <!--Back Button-->
    <a class="btn btn-dark" data-th-href="${'/dsOffice'}" tabindex="10" >
      <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
    </a >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script data-th-if="${! #lists.isEmpty(attributeAndCounts)}" type="text/javascript"
        src="/js/summaryReport.js" ></script >
</body >
</html >