<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-success" data-th-href="${'/dsOffice/add'}" >
        <i class="far fa-building" ></i > &nbsp; Add
                                          DS Office </a >
    </div >
    <div class="col" >
      <span class="font-weight-bold h2" >                    DS Office Details </span >
    </div >
    <div class="col" >
      <a class="btn btn-primary" data-th-href="${'/home'}" id="searchShow" tabindex="2" >
        <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<!--if not empty list-->
<div class="container-fluid" id="agOfficeListTable"
     data-th-if="${not #lists.isEmpty(dsOffices)}" >
  <table class="table table-hover table-striped" id="myTable" >
    <thead class="thead-inverse" >
    <tr >
      <th >Index</th >
      <th >Name</th >
      <th >Phone No</th >
      <th >AgOffice</th >
      <th >Modify</th >
    </tr >
    </thead >
    <tbody >
    <tr data-th-each="dsOffice, rowCount : ${dsOffices}" scope="row" >
      <th data-th-text="${rowCount.count}" ></th >
      <th data-th-text="${dsOffice.name}" ></th >
      <th data-th-text="${dsOffice.land}" ></th >
      <th data-th-text="${dsOffice.district.name}" ></th >

      <th ><a class="btn btn-success btn-sm"
              data-th-href="${'/dsOffice/' + dsOffice.id}" id="agOfficeView" ><i
            class="fa fa-folder-open" ></i >&nbsp;View</a >
        <a class="btn btn-primary btn-sm" id="agOfficeEdit"
           data-th-href="${'/dsOffice/edit/' + dsOffice.id}" ><i
              class="fa fa-edit" ></i >&nbsp;Edit</a >
        <a class="btn btn-danger btn-sm" id="agOfficeRemove"
           data-th-href="${'/dsOffice/remove/' + dsOffice.id}"
           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
           data-th-onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
        ><i
              aria-hidden="true" class="fa fa-trash" ></i >
          Delete</a >

      </th >
    </tr >
    </tbody >
  </table >
</div >
<!--if empty list-->
<div class="row" id="agOfficeNotList" data-th-if="${ #lists.isEmpty(dsOffices)}" >
  <div class="container" >
    <div class="alert alert-warning alert-dismissible fade show"
         role="alert" >
      <button type="button" class="close" data-dismiss="alert"
              aria-label="Close" >
        <span aria-hidden="true" >&times;</span >
      </button >
      <h3 class="text-center text-danger" >
        <strong >There is no divisional secretory office upto know please add dsOffice to
                 the system
                 using add divisional secretory office button.
        </strong >
      </h3 >
    </div >
  </div >
</div >
<!--Show saved dsOffice-->
<div class="row" data-th-if="${dsOfficeDetail!=null}" >
  <div class="col-sm-12" >
    <div class="alert alert-success alert-dismissible fade show"
         role="alert" >
      <button type="button" class="close" data-dismiss="alert"
              aria-label="Close" >
        <span aria-hidden="true" >&times;</span >
      </button >
      <div class="container" >
        <div data-th-replace="~{dsOffice/dsOffice-detail :: dsOfficeDetail}" ></div >
      </div >
    </div >
  </div >
</div >
<!--footer fragment-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script >
</body >
</html >